* 
{
    color: rgb(225, 33, 33);
}
a{
    background-color: brown;
    padding-block: 23px;
    color: blue;
}
.iii{
    background: indigo;
    color: aqua; 
   
}
.ty{
    background-color: chartreuse;
    color: crimson;
}
